<!DOCTYPE html> 
<html> 
  <head> 
  <title>QueHayDeComer.com</title> 
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.css" />
  <script src="http://code.jquery.com/jquery-1.4.3.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.js"></script>
</head> 

<body> 

<!-- HOME PAGE -->
<div data-role="page" id="home" data-theme="a">

<div data-role="content"> 
  <img src="/images/mac.jpeg" height="50"/>
  <a href="#rest" data-role="button" >Restaurantes</a>
  <a href="#tipocom" data-role="button">Tipo de Comida</a>
  <a href="#oferta" data-role="button">Ofertas</a>
</div>

<div data-role="footer">

  <a href="#home" data-role="button" data-icon="info">info</a>
</div>
</div>

<!-- RESTAURANTES -->
<div data-role="page" id="rest" data-theme="a">
<!---menu en todos lados -->

<div data-role="content">
<div class="ui-grid-b">
  <div class="ui-block-a"><a href="home" data-role="button" data-icon="home">Res</a></div>
  <div class="ui-block-b"><a href="home" data-role="button" data-icon="minus">Tip</a></div>
  <div class="ui-block-c"><a href="home" data-role="button" data-icon="arrow-d">Ofe</a></div>
</div>
  <ul data-role="listview" data-inset="true" data-split-icon="grid">
    <li>
      <img src="/images/mac.jpeg" class="ui-li-icon" /><center><a href="#inforest">McDonald's</a></center>
      <a href="#menu">google.com</a>
    </li>
    <li>
      <img src="/images/pollo.jpeg" class="ui-li-icon" /><center><a href="#inforest">Pollo Campero</a></center>
      <a href="#menu">google.com</a>
    </li>
    <li>
      <img src="/images/bk.jpeg" class="ui-li-icon" /><center><a href="#inforest">Burguer King</a></center>
      <a href="#menu">google.com</a>
    </li>
    <li>
      <img src="/images/wendy.jpeg" class="ui-li-icon" /><center><a href="#inforest">Wendy's</a></center>
      <a href="#menu">google.com</a>
    </li>
</div>

<div data-role="footer">
  <a href="#home" data-role="button" data-icon="arrow-l">Atras</a>
  <a href="#home" data-role="button" data-icon="arrow-u">H</a>
</div>

</div>

<!-- TIPO DE COMIDA -->
<div data-role="page" id="tipocom" data-theme="a">
<div data-role="content">
<div data-role="fieldcontain">
  <label for="tipo">Tipo de Comida:</label>
   <select name="tipo" id="tipo">
    <option value="uno">Italiana</option>
    <option value="dos">Rapida</option>
    <option value="tres">Francesa</option>
   </select>
</div>
<p> #tipo </p>
</div>
</div> 

<!-- OFERTAS -->
<div data-role="#page" id="oferta" data-theme="b">
<div data-role="content">
  <h5>Aca se usara grids para poner las ofertas, posiblemente de forma estatica ;)</h5>
</div>

</div>

<!-- INFORMACION DE RESTAURANTES -->
<div data-role="page" id="inforest" data-theme="a">
<div data-role="content">
  <p>aca va la info de un restaurante especificamente</p>
</div>
</div>

<!-- MENU DE RESTAURANTES -->
<div data-role="page" id="menu" data-theme="a">
<div data-role="content">
  <h1>Contenido ... menu</h1>
  <p>aca va el menu de un restaurante especificamente</p>
</div>
</div>


</body>
</html>
